body
{
    background-color:   black;
    color:              white;
    font-family:        arial;
}
button
{
    background-color:   #333;
    color:              white;
    width:              100%;
/*    height:             100px;*/
    font-size:          70px;
    border-radius:      10px;
    text-align:         center;
}
button:active
{
    background-color:   #4CAF50;
    color:              black;
}
input, select
{
    background:         #f4f4f4;
    width:              100%;
    border-radius:      10px;
    font-size:          30px;
    text-align:         center;
}
div.msg
{
    background-color:   aqua;
    color:              black;
    font-size:          25px;
    text-align:         center;
}
ul 
{
    list-style-type:    none;
    margin:             0;
    padding:            0;
    overflow:           hidden;
    background-color:   #333;
}
li 
{
    float:              left;
}
li a 
{
    display:            block;
    color:              white;
    text-align:         center;
    text-decoration:    none;
    padding:            5px  5px;
}
li a.text
{
    padding:            10px 12px;
}

li a:hover:not(.active) 
{
    background-color:   #111;
}
.active 
{
    background-color:   #4CAF50;
}
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}
.modal-content {
    background-color: #000000;
    color:#00ff00;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #00ff00;
    width: 80%;
}
